Samples/MediaInfo/mediainfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://mediaarea.net/mediainfo"
    xmlns="https://mediaarea.net/mediainfo" elementFormDefault="qualified"
    version="2.0">
	<xsd:annotation>
		<xsd:documentation>
            Version 18.08
            Format_AdditionalFeatures, CodecID_* fields.
            
            Version 18.03
            Update from upstream MediaInfo fields info.
            
            Previous versions made by Dave Rice.
        </xsd:documentation>
	</xsd:annotation>
    <xsd:element name="MediaInfo" type="mediainfoType"/>
    <xsd:complexType name="mediainfoType">
        <xsd:sequence>
          <xsd:element name="creatingApplication" type="creationType"  minOccurs="0" maxOccurs="1" />
          <xsd:element name="creatingLibrary"     type="creationType"  minOccurs="0" maxOccurs="1" />
          <xsd:choice>
              <xsd:element name="media"    type="mediaType"  minOccurs="0" maxOccurs="unbounded" />
              <xsd:element name="track"   type="trackType" minOccurs="0" maxOccurs="unbounded" />
          </xsd:choice>
        </xsd:sequence>
        <xsd:attribute   name="version" />
    </xsd:complexType>
    <xsd:complexType name="mediaType">
        <xsd:sequence>
            <xsd:element name="track"   type="trackType" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute   name="ref" />
    </xsd:complexType>
    <xsd:complexType name="trackType">
        <xsd:sequence>
            <xsd:choice maxOccurs="unbounded">
                <xsd:element name="Accompaniment" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="ActiveFormatDescription" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes Active Format Description (AFD) codes as described in the DVB standard TS 101 154.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Actor" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Actor_Character" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Added_Date" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Album" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Album_More" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Album_Performer" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Album_Performer_Sort" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Album_ReplayGain_Gain" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes album-gain values to attenuate the signal on a per-album basis.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Album_ReplayGain_Peak" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes peak loudness levels when measuring a signal on a per-album basis.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Album_Sort" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Alignment" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="AlternateGroup" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Archival_Location" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Arranger" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="ArtDirector" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="AssistantDirector" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="AudioCount" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="BarCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="BitDepth" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="BitDepth_Detected" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="BitDepth_Stored" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="BitRate" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="BitRate_Encoded" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="BitRate_Maximum" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="BitRate_Minimum" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="BitRate_Mode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="BitRate_Nominal" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="BPM" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="BufferSize" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="CatalogNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="ChannelLayout" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="ChannelPositions" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Channels" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="Channels_Original" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="Chapter" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Choregrapher" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="ChromaSubsampling" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="ChromaSubsampling_Position" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="CodecID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="CodecID_Description" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="CodecID_Version" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="CodecID_Compatible" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="CoDirector" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Collection" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="ColorSpace" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="colour_description_present" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="colour_description_present_Original" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="colour_description_present_Source" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="colour_primaries" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="colour_primaries_Original" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="colour_primaries_Source" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="colour_range" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="colour_range_Source" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Comic" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Comic_More" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Comic_Position_Total" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="Comment" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="CommissionedBy" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Compilation" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="CompleteName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="CompleteName_Last" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Composer" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Composer_Nationality" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Composer_Sort" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Compression_Mode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Compression_Ratio" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="Conductor" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="ContentType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="CoProducer" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Copyright" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Copyright_Url" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="CostumeDesigner" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Countries" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Country" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Cover" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Cover_Data" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Cover_Description" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Cover_Mime" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Cover_Type" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Cropped" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="DataSize" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="Default" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Delay" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="Delay_DropFrame" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Delay_Original" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="Delay_Original_DropFrame" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Delay_Original_Source" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Delay_Settings" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Delay_Source" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Description" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Dimensions" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Director" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="DirectorOfPhotography" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Disabled" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="DisplayAspectRatio" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="DisplayAspectRatio_Original" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="DistributedBy" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Domain" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="DotsPerInch" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Duration" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="Duration_End" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="Duration_FirstFrame" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="Duration_LastFrame" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="Duration_Start" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="EditedBy" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="ElementCount" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="Encoded_Application" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Encoded_Application_CompanyName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Encoded_Application_Name" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Encoded_Application_String" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Encoded_Application_Url" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Encoded_Application_Version" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Encoded_Date" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Encoded_Library" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Encoded_Library_CompanyName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Encoded_Library_Date" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Encoded_Library_Name" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Encoded_Library_Settings" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Encoded_Library_Version" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Encoded_OperatingSystem" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="EncodedBy" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Encryption" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Encryption_Format" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Encryption_InitializationVector" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Encryption_Length" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Encryption_Method" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Encryption_Mode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Encryption_Padding" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="EPG_Positions_Begin" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="EPG_Positions_End" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="ExecutiveProducer" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="File_Created_Date" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="File_Created_Date_Local" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="File_Modified_Date" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="File_Modified_Date_Local" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="FileExtension" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="FileSize" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="FirstPacketOrder" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="FooterSize" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="Forced" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Format" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Format_AdditionalFeatures" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Format_Commercial_IfAny" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Format_Compression" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Format_Level" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Format_Profile" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Format_Settings" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Format_Settings_BVOP" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Format_Settings_CABAC" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Format_Settings_Emphasis" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Format_Settings_Endianness" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Format_Settings_Firm" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Format_Settings_Floor" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Format_Settings_FrameMode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Format_Settings_GMC" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="Format_Settings_GOP" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Format_Settings_ITU" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Format_Settings_Law" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Format_Settings_Matrix" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Format_Settings_Matrix_Data" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Format_Settings_Mode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Format_Settings_ModeExtension" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Format_Settings_Packing" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Format_Settings_PictureStructure" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Format_Settings_PS" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Format_Settings_Pulldown" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Format_Settings_QPel" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Format_Settings_RefFrames" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="Format_Settings_SBR" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Format_Settings_Sign" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Format_Settings_Wrapping" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Format_Tier" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Format_Version" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="FrameCount" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="FrameRate" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="FrameRate_Maximum" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="FrameRate_Minimum" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="FrameRate_Mode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="FrameRate_Mode_Original" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="FrameRate_Nominal" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="FrameRate_Original" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="GeneralCount" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="Genre" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Gop_OpenClosed" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Gop_OpenClosed_FirstFrame" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Grouping" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="HeaderSize" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="Height" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="Height_Offset" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="Height_Original" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="ICRA" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="ID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="ImageCount" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="Interleave_Duration" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="Interleave_Preload" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="Interleave_VideoFrames" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="Interleaved" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="ISBN" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="ISRC" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="IsStreamable" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Keywords" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Label" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="LabelCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Language" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Language_More" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="LawRating" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="LawRating_Reason" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="LCCN" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Lightness" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="List_StreamKind" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="List_StreamPos" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Lyricist" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Lyrics" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Mastered_Date" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="MasteredBy" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Matrix_ChannelPositions" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Matrix_Channels" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="matrix_coefficients" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="matrix_coefficients_Original" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="matrix_coefficients_Source" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Matrix_Format" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="MenuCount" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="MenuID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Mood" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Movie" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Movie_Country" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Movie_More" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="MultiView_BaseProfile" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="MultiView_Count" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="MultiView_Layout" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="DolbyVision_Version" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="DolbyVision_Profile" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="DolbyVision_Layers" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="MusicBy" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="MuxingMode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="MuxingMode_MoreInfo" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="NetworkName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Original_Album" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Original_Lyricist" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Original_Movie" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Original_NetworkName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Original_Part" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Original_Performer" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Original_Released_Date" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Original_Track" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="OriginalNetworkName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="OriginalSourceForm" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="OriginalSourceForm_Cropped" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="OriginalSourceForm_DistributedBy" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="OriginalSourceForm_Name" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="OriginalSourceForm_NumColors" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="OriginalSourceForm_Sharpness" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="OriginalSourceMedium" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="OriginalSourceMedium_ID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="OtherCount" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="OverallBitRate" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="OverallBitRate_Maximum" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="OverallBitRate_Minimum" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="OverallBitRate_Mode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="OverallBitRate_Nominal" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="Owner" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="PackageName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Part" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Part_Position" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="Part_Position_Total" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="Performer" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Performer_Sort" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Period" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="PixelAspectRatio" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="PixelAspectRatio_Original" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="Played_Count" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="Played_First_Date" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Played_Last_Date" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="PodcastCategory" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Producer" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Producer_Copyright" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="ProductionDesigner" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="ProductionStudio" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Publisher" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Publisher_URL" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Rating" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Recorded_Date" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Recorded_Location" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Released_Date" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="RemixedBy" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="ReplayGain_Gain" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="ReplayGain_Peak" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Rotation" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Sampled_Height" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="Sampled_Width" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="SamplesPerFrame" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="SamplingCount" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="SamplingRate" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="ScanOrder" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="ScanOrder_Original" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="ScanOrder_Stored" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="ScanType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="ScanType_Original" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="ScreenplayBy" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Season" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Season_Position" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="Season_Position_Total" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="Service_Url" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="ServiceChannel" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="ServiceKind" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="ServiceName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="ServiceProvider" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="ServiceProviderr_Url" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="ServiceType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="SoundEngineer" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Source_Duration" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="Source_Duration_FirstFrame" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="Source_Duration_LastFrame" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="Source_FrameCount" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="Source_SamplingCount" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="Source_StreamSize" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="Source_StreamSize_Encoded" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="Source_StreamSize_Proportion" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Standard" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Stored_Height" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="Stored_Width" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="StreamOrder" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="StreamSize" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="StreamSize_Encoded" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="StreamSize_Proportion" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Subject" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="SubTrack" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Summary" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Synopsis" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Tagged_Application" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Tagged_Date" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="TermsOfUse" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="TextCount" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="ThanksTo" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="TimeCode_FirstFrame" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="TimeCode_Settings" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="TimeCode_Source" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="TimeCode_Striped" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="TimeStamp_FirstFrame" minOccurs="0" maxOccurs="1" type="xsd:float"/>
                <xsd:element name="TimeZone" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="TimeZones" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Title" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Title_More" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Track" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Track_More" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Track_Position" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="Track_Position_Total" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="Track_Sort" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="transfer_characteristics" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="transfer_characteristics_Original" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="transfer_characteristics_Source" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Type" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="UniqueID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="UniversalAdID_Registry" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="UniversalAdID_Value" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="VideoCount" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="Width" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="Width_CleanAperture" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="Width_Offset" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="Width_Original" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
                <xsd:element name="Written_Date" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="Written_Location" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                <xsd:element name="WrittenBy" minOccurs="0" maxOccurs="1" type="xsd:string"/>
            </xsd:choice>
            <xsd:element name="extra" type="extraType"  minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
        <xsd:attribute   name="type" use="required">
            <xsd:annotation>
                <xsd:documentation>Documents the type of encoded media with the track, ie: General, Video, Audio, Text, Image, etc.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute   name="typeorder" default="1">
            <xsd:annotation>
                <xsd:documentation>If there is more than one track of the same type (i.e. four audio tracks) this attribute will number them according to storage order within the bitstream.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="extraType">
        <xsd:sequence>
             <xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="creationType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string" >
               <xsd:attributeGroup ref="creationAttributeSet"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:attributeGroup name="creationAttributeSet">
        <xsd:attribute name="version"        type="xsd:string" use="required"/>
        <xsd:attribute name="url"            type="xsd:string"/>
        <xsd:attribute name="build_date"     type="xsd:string"/>
        <xsd:attribute name="build_time"     type="xsd:string"/>
        <xsd:attribute name="compiler_ident" type="xsd:string"/>
    </xsd:attributeGroup>
</xsd:schema>
